
//LAYOUT
$layout-content-color: #E9E9E9;
$toolbar-background-color: #004A9F;
$toolbar-sidenav-text-color: #FFFF;
$primary-color-white: #FFFF;
$primary-color-dark-blue: #0C1C4D;

//DASHBOARD
$btn-border-primary-mat: #FFFF;
$table-border-color: #CCCC;
$list-title-container: #265388;
$modal-close-btn-color: rgb(150, 149, 149);
$modal-hover-close-btn-color: rgb(211, 211, 211);
$card-text-color: rgba(0, 0, 0, .87);
$primary-color-red: #FF0000;
$primary-color-blue: #025BC5;

$color-primary: #000000;